In [70]:
# Set dependencies
import pandas as pd

In [71]:
# Set path for csv
csv_path = "budget_data_1.csv"

In [72]:
# Read the CSV
bank_data = pd.read_csv(csv_path)
bank_data.head()

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

In [73]:
# Put data into data frame
bank_df = bank_data[["Date", "Revenue"]]

In [74]:
# Count months
months_df = bank_df.groupby('Date')
count = months_df['Date'].count().sum()

In [75]:
# change in monthly rev
bank_df['difference'] = bank_df['Revenue'].diff()

In [76]:
# Total amount of revenue gained
total = bank_df['Revenue'].sum()
total

18971412

In [77]:
# average change each month
average = (bank_df['Revenue'].sum())/41
average

462717.36585365853

In [78]:
# Greatest increase
increase = bank_df['difference'].max()
increase

1837235.0

In [79]:
# Greatest decrease
decrease = bank_df['difference'].min()
decrease

-1779747.0

In [86]:
# Generate Output Summary
output = (
    f"Financial Analysis\n"
    f"-----------------\n"
    f"Total Months: {count}\n"
    f"Total Revenue: ${total}\n"
    f"Average Revenue Change: ${average}\n"
    f"Greatest Increase in Revenue: (${increase})\n"
    f"Greatest Decrease in Revenue: (${decrease})\n")

In [87]:
# Print output
print(output)

Financial Analysis
-----------------
Total Months: 41
Total Revenue: $18971412
Average Revenue Change: $462717.3658536585
Greatest Increase in Revenue: ($1837235.0)
Greatest Decrease in Revenue: ($-1779747.0)

In [90]:
# Export to txt
data_file_output = "data_output.txt"
with open(data_file_output, "w") as txt_file:
    txt_file.write(output)